<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main | 음식점 리스트</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .center {
            text-align: center;
        }

        .star-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .star-name {
            display: inline-block;
        }

        .star-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }
        
    </style>
    <script>
        $(document).ready(function () {
            // index.html 로드가 완료되면 자동으로 showStar() 함수를 호출합니다.
            showStar();
        });

        function showStar() {
            // 1. #star_box의 내부 html 태그를 모두 삭제합니다.
        }
        function onDisplay() {
            $('comment').show()
        }
        function offDisplay() {
            $('comment').hide()
        }
    </script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container center">
                <h1 class="title">
                    뭐 먹을래❓
                </h1>
                <h2 class="subtitle">
                    순위를 매겨봅시다!
                </h2>
            </div>
        </div>
    </section>
    <div class="star-list" id="star-box">
        <div class="card">
            <footer class="card-footer">
                <a href="#" onclick="likeStar('김다미')" class="card-footer-item has-text-info">
                    별점 순으로 보기!

                </a>
                <a href="#" onclick="deleteStar('김다미')" class="card-footer-item has-text-danger">
                    댓글 많은 순으로 보기!

                </a>
            </footer>
        </div>
    </div>
    <div class="container">
        <div class="notification is-warning is-light">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>가게명</strong> <small>31m</small>
                            <br>
                            인천광역시 부평구 산곡2동
                            <br>
                            <strong>⭐4.8</strong>
                        </p>
                    </div>
                    <div class="level-right">
                        <a>
                            <button onclick="onDisplay" class="button is-right">댓글</button>
                        </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Barbara Middleton</strong>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec
                            ultricies elit blandit non.
                            <br>
                            <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                        </p>
                    </div>

                    <article class="media">
                        <figure class="media-left">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Sean Brown</strong>
                                    <br>
                                    Donec sollicitudin urna eget eros malesuada sagittis.
                                    <br>
                                    <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                                </p>
                            </div>

                            <article class="media">
                                Vivamus quis semper metus, non tincidunt dolor.
                            </article>
                        </div>
                    </article>
                </div>
            </article>

            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" placeholder="Add a comment..."></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button">Post comment</button>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="notification">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>가게2명</strong> <small>@johnsmith</small>
                            <br>
                            주소
                            <br>
                            <strong>별점</strong>
                        </p>
                    </div>
                    <div class="level-right">
                        <a>
                            <button class="button is-right">댓글</button>
                        </a>
                    </div>
                </div>
            </article>
            <article class="media" id = "comment">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Barbara Middleton</strong>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec
                            ultricies elit blandit non.
                            <br>
                            <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                        </p>
                    </div>

                    <article class="media">
                        <figure class="media-left">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Sean Brown</strong>
                                    <br>
                                    Donec sollicitudin urna eget eros malesuada sagittis.
                                    <br>
                                    <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                                </p>
                            </div>

                            <article class="media">
                                Vivamus quis semper metus, non tincidunt dolor.
                            </article>
                        </div>
                    </article>
                </div>
                <article class="media">
                    <figure class="media-left">
                    </figure>
                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" placeholder="Add a comment..."></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button">Post comment</button>
                            </p>
                        </div>
                    </div>
                </article>
            </article>


        </div>

    </div>

</body>

</html>